<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body">
                    <h3 class="text-theme-primary">All Blog posts</h3>
                        <p>From here you can manage your post</p>

                        <button routerLink="/posts/new" class="btn btn-primary text-white">Add New Post</button>
                        <button routerLink="/" class="btn btn-warning mx-2">Back to the dashboard</button>
                </div>
            </div>
        </div>
    </div>
</div>